<nav class="container min-w-full p-4 bg-blue-600">
  <ul class="flex-row flex gap-x-6 h-6">
    <li class="text-white font-semibold bg-blue-600">
      <a  routerLink="home" class="">Home</a>
    </li>
    <li class="text-white font-semibold bg-blue-600">
      <a routerLink="veiculo/veiculo-index" class="">Buscar veículo</a>
    </li>
    <li class="text-white font-semibold bg-blue-600">
      <a routerLink="veiculo/veiculo-create" class=""
        >Cadastrar veículo</a
      >
    </li>
  </ul>
</nav>
