<div class="container mx-auto p-3">
  <h1 class="font-bold py-6 text-xl">Lista de veículos:</h1>
  <form class="flex flex-row gap-x-6 items-center bg-gray-300 px-5 py-2">
    <label for="idSearch" class="font-semibold">Código:</label>
    <input
      class="shadow appearence-none border rounded focus:outline-none focus:shadow-outline px-3 leading-tight py-1"
      type="text"
      id="idSearch"
      name="idSearch"
      [(ngModel)]="idSearch"
    />
    <div class="flex items-center gap-2">
      <button
        type="button"
        (click)="get()"
        class="bg-blue-700 px-3 py-1 hover:bg-blue-500 rounded text-white"
      >
        Pesquisar
      </button>
      <button
        type="button"
        (click)="newVehicle()"
        class="bg-green-700 px-3 py-1 hover:bg-green-500 rounded text-white"
      >
        Novo
      </button>
    </div>
  </form>
  <table
    id="tabelaVeiculos"
    class="min-w-full bg-white border p-6 border-gray-300"
  >
    <thead>
      <tr>
        <th
          class="px-6 py-3 bg-blue-600 text-white font-semibold uppercase tracking-wider"
        >
          Id
        </th>
        <th
          class="px-6 py-3 bg-blue-600 text-white font-semibold uppercase tracking-wider"
        >
          Marca
        </th>
        <th
          class="px-6 py-3 bg-blue-600 text-white font-semibold uppercase tracking-wider"
        >
          Nome
        </th>
        <th
          class="px-6 py-3 bg-blue-600 text-white font-semibold uppercase tracking-wider"
        >
          Ano do modelo
        </th>
        <th
          class="px-6 py-3 bg-blue-600 text-white font-semibold uppercase tracking-wider"
        >
          Data de Fabricação
        </th>
        <th
          class="px-6 py-3 bg-blue-600 text-white font-semibold uppercase tracking-wider"
        >
          Valor
        </th>
        <th
          class="px-6 py-3 bg-blue-600 text-white font-semibold uppercase tracking-wider"
        >
          Opcionais
        </th>
        <th
          class="px-6 py-3 bg-blue-600 text-white font-semibold uppercase tracking-wider"
        ></th>
      </tr>
    </thead>
    <tbody id="vehicleData" class="divide divide-gray-200">
      <tr class="odd:bg-gray-200" *ngFor="let veiculo of veiculos">
        <td class="px-6 py-3 text-center">{{ veiculo.Id }}</td>
        <td class="px-6 py-3 text-center">{{ veiculo.Marca }}</td>
        <td class="px-6 py-3 text-center font-bold">{{ veiculo.Nome }}</td>
        <td class="px-6 py-3 text-center">{{ veiculo.AnoModelo }}</td>
        <td class="px-6 py-3 text-center">
          {{ formatDate(veiculo.DataFabricacao) }}
        </td>
        <td class="px-6 py-3 text-center">R$ {{ veiculo.Valor.toFixed(2) }}</td>
        <td class="px-6 py-3 text-center">{{ veiculo.Opcionais }}</td>
        <td
          class="flex flex-row items-center px-6 py-3 text-center justify-center"
        >
          <a class="cursor" (click)="edit(veiculo.Id)">
            <svg
              class="h-6 w-6 text-gray-500 flex mt-2"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
              />
            </svg>
          </a>
          <a class="cursor" (click)="deleteConfirm(veiculo.Id)">
            <svg
              class="h-6 w-6 text-red-500 mt-2"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              />
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
